<%- include('../includes/header') %> 
<div id="companyPage" class="page">

    <h1 class="pt-md-5 pb-md-5 text-center" >Company Configuration Settings</h1>
 
    <% if (errors && errors.length > 0) { %>
        <div class="alert alert-danger">
            <ul>
                <% errors.forEach(function(error) { %>
                    <li><%= error %></li>
                <% }); %>
            </ul>
        </div>
    <% } %>
    
    
    <% if (success && success.length > 0) { %>
        <div class="alert alert-success">
            <%= success %>
        </div>
    <% } %>    

    <div class="text-center pb-5">
        <!-- <button id="create-company-btn" class="btn btn-primary btn-sm" id="fileSelect">Add New Company</button> -->
        <button id="create-company-btn" class="create-company-btn btn btn-primary btn-sm">Add New Company</button>
    </div>
    
    <section id="add-company-section" class="add-item-section d-none">
        <div class="add-company-container border pt-3 pb-5  pl-5 pr-5 rounded mb-5 bg-light">
            <div class="d-flex">
                 <span id="close-btn" class="ml-auto bg-secondary pl-2 pr-2 border rounded text-white font-weight-bold">X</span>
            </div>
       
        <h3 id="form-heading" class="text-center pb-3">Add a New Company</h3>
        <div class="d-flex add-company-flex-container align-items-center justify-content-lg-between">
            <div class="info">
                <form id="companyForm">
                    <div class="form-group">
                        <label class="form-data" for="companyName">Company Name (up to 35 characters):</label>
                        <input type="text" id="companyName" name="companyName" maxlength="35" required>
                    </div>
                    <div class="form-group">
                        <label class="form-data" for="introText">Intro Text (up to 160 characters):</label>
                        <textarea id="introText" name="introText" maxlength="160" required></textarea>
                    </div>
                </form>
            </div>

            <div class="drop-area">
                <div class="form-container">
                    <form class="upload-form">
                        <p>Drag and drop an image here</p>
                        <input type="file" class="file-element" accept="image/*" style="display:none" onchange="handleFiles(this.files)">
                        <button type="button" class="btn btn-primary btn-sm file-select">Add Image</button>
                    </form>
                </div>
                
                <div class="canvas-container hidden">
                    <canvas id="canvas" class="canvas" width="450" height="500"></canvas>
                    <button class="delete">
                        <i class="delete-image-btn fa fa-trash" aria-hidden="true"></i>
                      </button>      
                </div>
    
            </div>

        </div>

        <div class="text-center">
            <button id="save-logo-btn" class="save-img-btn btn btn-primary btn-sm pr-4 pl-4 pt-2 pb-2">Save</button>
        </div> 
    </div>
    </section>
    <section class="companies-section">
        <div>
            <% if (companies.length > 0) { %>
                <% companies.forEach(company => { %>
                    <div class="company-listing d-flex border border-dark-grey mb-3 p-3 rounded bg-light">
                        <div class="company-name pr-5">
                            <%= company.name %>
                        </div>
                        <div class="company-intro-text pr-5">
                            <%= company.intro.slice(0,40) + "  . . .  " %>
                        </div>
                        <div class="company-logo pr-5">
                            <img class='text-center' src="<%= company.image %>" alt="<%= company.name %> logo" width="auto" height="50px" />
                        </div>
                        <div class="edit-delete ml-auto">
                            <i 
                                class="editCompany fa fa-pencil-square-o pr-3" 
                                aria-hidden="true" 
                                data-id="<%= company._id %>"
                                data-section-id="add-company-section"
                                data-form-id="companyForm"
                                data-heading-id="form-heading">
                            </i>
                            <i 
                                class="delete-btn fa fa-trash pr-3" 
                                aria-hidden="true" 
                                data-route="/admin/companies/delete" 
                                data-id="<%= company._id %>"></i>
                        </div>
                    </div>
                <% }); %>
            <% } else { %>
                <p>No companies available.</p>
            <% } %>
        </div>
        
        %>  
    </section>
</div>
<!-- Load explicitly because DOM may not be available before main.js executes -->
<script type="module" src="../frontend-js/modules/create-company.js"></script>
<!-- <script type="module" src="../frontend-js/modules/getFormInfo.js"></script> -->
<script type="module">
    import { setEqualWidths } from '/frontend-js/modules/setEqualWidths.js';
    document.addEventListener('DOMContentLoaded', () => {

    setEqualWidths('.company-name');
    setEqualWidths('.company-intro-text');
    setEqualWidths('.company-logo');

    const closeBtn = document.getElementById('close-btn');
    closeBtn.addEventListener('click', function () {
        window.location.reload(); // Force a page refresh
    });

});
</script>


<%- include('../includes/footer') %>


