<%- include('../includes/header') %>
<div class="page">
    <h1 class="pt-md-5 pb-md-5 text-center">Admin Dashboard</h1>

    <% if (errors && errors.length > 0) { %>
        <div class="alert alert-danger">
            <ul>
                <% errors.forEach(function(error) { %>
                    <li><%= error %></li>
                <% }); %>
            </ul>
        </div>
    <% } %>

    <% if (success && success.length > 0) { %>
        <div class="alert alert-success">
            <%= success %>
        </div>
    <% } %>

    <!-- <p>Total Companies: <%= stats.companyCount %></p> -->

    <div class="admin-btn-container">
        <a href="/admin/companies" class="btn-companies-staff btn btn-primary btn-sm">
            Companies/Staff
        </a>
        <a href="/admin/notifications" class="btn-companies-staff btn btn-primary btn-sm">
            Notifications
        </a>
        <a href="/admin/users" class="btn-companies-staff btn btn-primary btn-sm">
            User Credentials
        </a>
    </div>
    
</div>
<%- include('../includes/footer') %>
