<%- include('../includes/header') %> 
<div id="usersPage" class="page">

    <h1 class="pt-md-5 pb-md-5 text-center" >Authorized Users</h1>
 
    <% if (errors && errors.length > 0) { %>
        <div class="alert alert-danger">
            <ul>
                <% errors.forEach(function(error) { %>
                    <li><%= error %></li>
                <% }); %>
            </ul>
        </div>
    <% } %>
    
    
    <% if (success && success.length > 0) { %>
        <div class="alert alert-success">
            <%= success %>
        </div>
    <% } %>    

    <div class="text-center pb-5">
        <button id="create-user-btn" class="create-user-btn btn btn-primary btn-sm">Add New User</button>
    </div>
    <div id="add-user-section" class="user-info mb-5 border boader-2 border-success pl-4 pr-4 pb-4 pt-2 rounded d-none">
        <div class="d-flex">
            <span id="close-btn" class="close-sm ml-auto bg-secondary pl-2 pr-2 border rounded text-white font-weight-bold">X</span>
       </div>
        <form id="userForm" class="d-flex flex-wrap justify-content-between">
            <div class="user-form-group w-md">
                <label class="form-data" for="username">Username (up to 20 characters):</label>
                <input class="user-form-control" type="text" id="username" name="username" maxlength="20" required placeholder="Username">
            </div>
            <div class="user-form-group w-md">
                <label class="form-data" for="password">Password (up to 20 characters):</label>
                <div style="position: relative; display: flex; align-items: center;">
                    <input class="user-form-control" id="password" name="password" maxlength="20" required type="password" placeholder="Password">
                    <button type="button" id="togglePassword" style="position: absolute; right: 10px; background: none; border: none; cursor: pointer;">
                        👁️
                    </button>
                </div>
            </div>
            <div class="user-form-group w-lg">
                <label class="form-data" for="email">Email (up to 40 characters):</label>
                <input class="user-form-control" type="text" id="email" name="email" maxlength="40" required placeholder="Email address">
            </div>
            <div class="user-form-group w-sm">
                <label class="form-data" for="role">Role</label>
                <select name="role" id="role" class="form-control">
                    <option class="fs-5" value="user">User</option>
                    <option value="admin">Admin</option>
                </select>
            </div>
        </form>

            <button id="save-user-btn" class="save-img-btn d-block mx-auto btn btn-primary btn-sm pr-4 pl-4 pt-2 pb-2 mt-4">Create User</button>

    </div>
    
    <section class="users-section-admin">
        <h3 class="pt-2 pb-1">Administrator Privileges</h3>
        <div>
            <% if (users.length > 0) { %>
                <% users.forEach(user => { %>
                    <% if (user.role === 'admin') { %>
                        <div class="d-flex border border-dark-grey mb-3 p-3 pt-4 rounded bg-light">
                            <div class="user-username pr-5">
                                <%= user.username %>
                            </div>
                            <div class="user-password pr-5">
                                <%= user.password %>
                            </div>
                            <div class="user-email pr-5">
                                <%= user.email %>
                            </div>
                            <div class="user-role pr-5">
                                <%= user.role %>
                            </div>
                            <div class="edit-delete-people ml-auto pt-1">
                                <i 
                                    class="editUser icon fa fa-pencil-square-o pr-3" 
                                    aria-hidden="true" 
                                    data-id="<%= user._id %>"
                                    data-section-id="add-user-section"
                                    data-form-id="userForm"
                                    data-heading-id="form-heading">
                                </i>
                                <i 
                                    class="delete-btn icon fa fa-trash pr-3 muted" 
                                    aria-hidden="true" 
                                    data-route="/admin/user/delete" 
                                    data-id="<%= user._id %>">
                                </i>
                            </div>
                        </div>
                    <% } %>
                <% }); %>
            <% } else { %>
                <p>No users present.</p>
            <% } %>
            
        </div>
        
        %>  
    </section>
    <section class="users-section-users">
        <h3 class="pt-4 pb-1">User Privileges</h3>
        <div>
            <% if (users.length > 0) { %>
                <% users.forEach(user => { %>
                    <% if (user.role === 'user') { %>
                        <div class="d-flex border border-dark-grey mb-3 p-3 pt-4 rounded bg-light">
                            <div class="user-username pr-5">
                                <%= user.username %>
                            </div>
                            <div class="user-password pr-5">
                                <%= user.password %>
                            </div>
                            <div class="user-email pr-5">
                                <%= user.email %>
                            </div>
                            <div class="user-role pr-5">
                                <%= user.role %>
                            </div>
                            <div class="edit-delete-people ml-auto pt-1">
                                
                                <i 
                                    class="editUser icon fa fa-pencil-square-o pr-3" 
                                    aria-hidden="true" 
                                    data-id="<%= user._id %>"
                                    data-section-id="add-user-section"
                                    data-form-id="userForm"
                                    data-heading-id="form-heading">
                                </i>
                                <i 
                                    class="delete-btn icon fa fa-trash pr-3 muted" 
                                    aria-hidden="true" 
                                    data-route="/admin/user/delete" 
                                    data-id="<%= user._id %>">
                                </i>
                            </div>
                        </div>
                    <% } %>
                <% }); %>
            <% } else { %>
                <p>No users present.</p>
            <% } %>
            
        </div>
        
        %>  
    </section>
</div>
<!-- Load explicitly because DOM may not be available before main.js executes -->
<!-- <script src="/main-bundled.js"></script> -->
<script type="module" src="../frontend-js/modules/create-user.js"></script>
<script type="module" src="../frontend-js/modules/editUser.js"></script>
<script type="module" src="../frontend-js/modules/deleteItem.js"></script>
<script type="module" src="../frontend-js/modules/unhidePassword.js"></script>
<script type="module">
    import { setEqualWidths } from '/frontend-js/modules/setEqualWidths.js';
    import { handleUserFormSubmission } from '/frontend-js/modules/handleUserFormSubmission.js';
    document.addEventListener('DOMContentLoaded', () => {

    setEqualWidths('.user-username');
    setEqualWidths('.user-password');
    setEqualWidths('.user-email');
    setEqualWidths('.user-role');

    const closeBtn = document.getElementById('close-btn');
    const saveUserBtn = document.getElementById('save-user-btn')
    
    closeBtn.addEventListener('click', function () {
        window.location.reload(); // Force a page refresh
    });

    saveUserBtn.addEventListener('click', handleUserFormSubmission);

});
</script>

<%- include('../includes/footer') %>


