       <%- include('../includes/header') %> 
        <div class="page">
            <section class="page-intro-section">
                <img src="/media/dummy.svg" width="150" height="150" alt="">
                <h1>Hi I'm Vivi, Your Virtual Receptionist</h1>
            </section>
            <div>
                <% if (companies.length > 0) { %>
                    <% companies.forEach(company => { %>
                        <div>
                            <img src="<%= company.image %>" alt="<%= company.name %> logo" />
                            <h2><%= company.name %></h2>
                        </div>
                    <% }); %>
                <% } else { %>
                    <p>No companies available.</p>
                <% } %>
            </div>
            <% if (error) { %>
                <p style="color: red;"><%= error %></p>
            <% } %>  
                  
        </div>
        
    <%- include('../includes/footer') %>