       <%- include('../includes/header') %> 
        <div class="page">
            <section class="page-intro-section">
                <img src="/media/logo.png" width="150" height="150" alt="">
                <h1>Hi I'm Vivi, Your Virtual Receptionist</h1>
            </section>
            <section class="companies-section">
                <div class="flex-container">
                    <% if (companies.length > 0) { %>
                        <% companies.forEach(company => { %>
                            <div class="flex-col-container">
                                <img src="<%= company.image %>" alt="<%= company.name %> logo" width="auto" height="150px"/>
                             
                            </div>
                        <% }); %>
                    <% } else { %>
                        <p>No companies available.</p>
                    <% } %>
                </div>
                <% if (error) { %>
                    <p style="color: red;"><%= error %></p>
                <% } %>  
            </section>
            

        </div>
        
    <%- include('../includes/footer') %>