<%- include('../includes/header') %>
<div class="page-wrapper">
    <div class="page">
        <div class="page-intro-section">
            <div class="mt-2 mb-4">
                <img src="<%= company.image %>" alt="<%= company.name %> logo" />
                <!-- <h1><%= company.name %></h1> -->
            </div>

            <div class="flex-container">
                <% 
            const people = company.people;
            
            if (people.length > 0) { %>
                <% people.forEach(person => { %>
                    <div class="flex-col-container mt-1">
                        <img class="headshot" src="<%= person.image %>" alt="<%= person.name %>" height="150" width="150"/>
                        <h5 class="mt-2" ><%= person.name %></h5>
                        <!-- <p>Role: <%= person.reply %></p> -->
                    </div>
                    
                <% }); %>
                <% } else { %>
                    <p>No staff member found for this company.</p>
                <% } %>
            </div>
            <h5 class=""><%= company.intro %></h2>
        </div>     
    </div>
</div>

<%- include('../includes/footer') %>
