<%- include('../includes/header') %>
<div class="page-wrapper">
    <div class="page">
        <div class="page-intro-section">
            <img src="<%= company.image %>" alt="<%= company.name %> logo" />
            <h1><%= company.name %></h1>
            <h2 class="pb-5"><%= company.intro %></h2>
        </div>
    </div>
</div>

<%- include('../includes/footer') %>
