<%- include('../includes/header') %>
<div class="page-wrapper">
    <div class="page">
        <div class="page-intro-section">
            <a href="/companies/<%= company._id %>/people">
                <img src="<%= company.image %>" alt="<%= company.name %> logo" />
            </a>
            <!-- <h1><%= company.name %></h1> -->

            <% 
            const people = company.people;
            
            if (people.length > 0) { %>
                <% people.forEach(person => { %>
                    <img src="<%= person.image %>" alt="<%= person.name %>" />
                    <p><%= person.name %></p>
                    <!-- <p>Role: <%= person.reply %></p> -->
                <% }); %>
            <% } else { %>
                <p>No staff member found for this company.</p>
            <% } %>
        </div>

            <h5 class="pb-5"><%= company.intro %></h2>
        </div>        
    </div>
</div>

<%- include('../includes/footer') %>
