<!--
  Company Detail Page Template

  This EJS template renders a detailed view for a specific company. It displays:
  - The company logo.
  - A gallery of staff members (if any) where each staff member's head-shot, name, and title are shown as a link to their individual page.
  - The company's introduction text.
  
  The template includes common header and footer partials, and loads a main JavaScript bundle for additional functionality.
-->

<%- include('../includes/header') %>
<div class="page-wrapper">
    <div class="page">
        <div class="page-intro-section">
            <div class="mt-0 mb-5">
                <img src="<%= company.image %>" alt="<%= company.name %> logo" />
                <!-- <h1><%= company.name %></h1> -->
            </div>

            <div class="flex-container">
                <% 
            const people = company.people;
            
            if (people.length > 0) { %>
                <% people.forEach(person => { %>
                    <div class="flex-col-container mt-1">
                        <a href="/companies/person/<%= person.id %>">
                            <img class="headshot" src="<%= person.image %>" alt="<%= person.name %>" height="150" width="150"/>
                        </a>
                        <h5 class="mt-2 mb-0"><%= person.name %></h5>
                        <% 
                        const title = person.title ? person.title : ""
                        %>
                        <h6><%= title %></h6>
                        <!-- <p>Role: <%= person.reply %></p> -->
                    </div>
                    
                <% }); %>
                <% } else { %>
                    <p>No staff member found for this company.</p>
                <% } %>
            </div>
            <h4 class=""><%= company.intro %></h4>
        </div>     
    </div>
</div>
<script src="/main-bundled.js"></script>
<%- include('../includes/footer') %>
