<%- include('../includes/header') %>
<div class="company-detail">
    <h1><%= company.name %></h1>
    <img src="<%= company.image %>" alt="<%= company.name %> logo" />
    <p><%= company.intro %></p>
</div>
<%- include('../includes/footer') %>
