<!--
  Person Detail Page Template

  This template displays a single person's details:
  - Shows the person's headshot image and their reply message.
  - Includes common header and footer partials for a consistent layout.
  - Loads a main JavaScript bundle for additional functionality.
  - Automatically redirects the user to the dashboard after a 5-second delay.
-->

<%- include('../includes/header') %>
<div class="page-wrapper">
    <div class="page">
        <div class="person-details mt-5 pt-3">
            <img class="headshot d-block mx-auto mb-5" src="<%= person.image %>" alt="<%= person.name %>" height="250" width="250"/>
            <!-- <h1><%= person.name %></h1> -->
            <h3 class="pt-3 text-center"><%= person.reply %></h3>
        </div>
    </div>
</div>
<script src="/main-bundled.js"></script>
<script>
    setTimeout(() => {
        window.location.href = "/dashboard";
    }, 5000); // Redirect after 5 seconds (adjust timing as needed)
</script>
<%- include('../includes/footer') %>
